<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>428</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb202997740127765</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>FacebookAppID</key>
	<string>202997740127765</string>
	<key>FacebookDisplayName</key>
	<string>428app</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>428 will like to access to your camera with the sole purpose of selecting your profile picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>428 respects your privacy and only uses city-level location information.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>428 will like to access your photo library with the sole purpose of selecting your profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirLTStd-Light.otf</string>
		<string>AvenirLTStd-LightOblique.otf</string>
		<string>AvenirLTStd-Medium.otf</string>
		<string>AvenirLTStd-MediumOblique.otf</string>
		<string>AvenirLTStd-Black.otf</string>
		<string>AvenirLTStd-BlackOblique.otf</string>
		<string>AvenirLTStd-Book.otf</string>
		<string>AvenirLTStd-BookOblique.otf</string>
		<string>AvenirLTStd-Heavy.otf</string>
		<string>AvenirLTStd-HeavyOblique.otf</string>
		<string>AvenirLTStd-Oblique.otf</string>
		<string>AvenirLTStd-Roman.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
